
.main{
    min-height: 100vh;
}
#caja{
    padding-top: 40px;
    padding-left: 30px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.product{
    padding-right: 20px;
    padding-bottom: 20px;
}

.card{
    background-color: white;
    width: 300px;
    height: 375px;
    align-items: center;
    border-radius: 10px;
    /*box-shadow: 0 1px 3px rgba(0,0, 0, 12), 0 1px 2px rgba(0,0, 0, 24);*/
    box-shadow: 0 0 0.1em rgb(0 0 0 / 20%);
    transition-property: box-shadow;
    transition-duration: 0.3s;
}

.card img{
    align-items: center;
    width: 200px;
    height: 200px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    
}
.card a{
    margin: 0%;
    padding: 0%;
}
.card h1{
    margin: 0px;
    padding-left: 20px;
    font-family: sans-serif;
}
.card h3{
    margin: 0px;
    padding-left: 20px;
    font-family: sans-serif;
}
#botones{
    padding-left: 50px;
}
#detalles{
    width: 30%;
    background: #3e4677;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 10px;
    
}
#agregar{
    width: 30%;
    background: #3e4677;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 10px;
}

