
body::-webkit-scrollbar {
	width: 2px;
        background: #9B9B9A;
        
}
body{
  font-family: sans-serif;
  margin: 0;
  padding: 0%;
}

header{
  display: flex;
  height: 70px;
  background: #48C9B0;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.logo {
  display: flex;
}
.logo img{
  height: 100px;
}

.nav-link{
  font-weight: 600;
  padding-right: 20px;
}

.menu{
	background: #3e4677;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #1a8fb6;
}
.clearfix{
  clear: both;
}
main{
  /*padding-top: 50px;*/
}
footer{
  float: right;
  padding-right: 20px;
}
label{
  color:antiquewhite;
}
nav a{
  font-family: sans-serif;
  text-decoration: none;
}